.body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /* height: 3000px; */
  background-color: rgb(216, 230, 218);
  background: linear-gradient(
    /* 90deg,
    rgb(161, 189, 166) 0%,
    rgb(230, 240, 231) 30%,
    rgb(227, 235, 228) 75%,
    rgb(242, 247, 241) 100% */
      180deg,

    /* rgb(22, 104, 61) 0%,

    rgb(44, 49, 117) 75%,
    rgb(46, 68, 128) 100% */
      rgb(255, 255, 255) 0%,

    rgb(226, 251, 255) 50%,
    rgb(224, 225, 255) 75%
  );

  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
}
.menu-box {
  background: linear-gradient(rgb(84, 133, 66), rgb(84, 133, 66));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* max-width: 225px; */
  min-width: 170px;
  width: 200px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(38, 69, 50);
  box-shadow: 5px 0px 0 rgb(134, 129, 85);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.menu-two-parts {
  display: flex;
  flex-direction: column;
}
.menu-top {
  display: flex;
}
.logo-image {
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.no-checkbox {
  display: none;
}
h1 {
  font-family: Ubuntu Mono, Helvetica, sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 6px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.line-separating {
  background-color: white;
  height: 4px;
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.menu-center {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 40px;
}
.title-and-image,
.title-and-image:visited,
.title-and-image:hover,
.title-and-image:active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
  flex: 1 1 auto;
  min-height: 20px;
  border: none;
  text-decoration: none;
}
.title-and-image2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
}
.title-and-image3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 0;
}
.menu-text {
  font-family: Ubuntu Mono, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
  color: white;
  z-index: 10;
  text-decoration: none;
  border: none;
}

.small-flat-led-menu {
  max-height: 70px;
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  transition: ease-in-out 0.15s;
}
.overlap-led {
  display: fixed;
  height: 50px;
  margin-left: 0px;
  margin-top: 20px;
  transform: translateY(-70px);
  /* transform: translateX(-1px); */
  opacity: 0;
  transition: ease-in-out 0.15s;
  z-index: 10;
}
.overlap-led-none {
  display: fixed;
  height: 50px;
  margin-left: 0px;
  margin-top: 20px;
  transform: translateY(-70px);
  /* transform: translateX(-1px); */
  opacity: 0;
  transition: ease-in-out 0.15s;
  z-index: 10;
}
.led-on-indicating {
  position: absolute;
  height: 50px;
  margin-left: 0px;
  margin-top: 20px;
  transform: translateY(-20px);
  /* transform: translateX(-1px); */
  opacity: 1;
  transition: ease-in-out 0.15s;
  z-index: 10;
}

.menu-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  align-items: flex-end;
}

.square-holder-pins {
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: 10px 40px;
  align-items: center;
  justify-items: center;
  margin-left: 20px;
}

.pad-menu-plus {
  height: 40px;
  width: 20px;
  background: linear-gradient(
    45deg,
    rgb(153, 153, 153),
    rgb(172, 172, 172),
    rgb(153, 153, 153)
  );
  border-radius: 7px;
  /* border-color: rgb(38, 69, 50);
  border-style: solid;
  border-width: 5px; */
}
.pad-menu-minus {
  height: 40px;
  width: 20px;
  background: linear-gradient(
    45deg,
    rgb(153, 153, 153),
    rgb(172, 172, 172),
    rgb(153, 153, 153)
  );
  border-radius: 10px;
  border-color: rgb(38, 69, 50);
  border-style: solid;
  border-width: 5px;
  z-index: 3;
}
.pad-text {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 25px;
  z-index: 150;
}
.hole-round {
  /* background-color: rgb(216, 230, 218); */
  background-color: rgb(233, 233, 233);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  justify-self: end;
  /* right: 10px; */
  border-radius: 50%;
  box-shadow: inset 5px 0 0 rgb(129, 125, 83);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(38, 69, 50);
}
.R-track {
  position: fixed;
  width: 4vh;
  bottom: 55px;
  left: 2.5vh;
  z-index: 12;
}

.button-cz {
  font-family: Ubuntu Mono, Arial, Helvetica, sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}
.button-en {
  font-family: Ubuntu Mono, Arial, Helvetica, sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.button-not-available {
  font-family: Ubuntu Mono, Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.514);
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.code {
  height: 1000px;
  position: fixed;
  right: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  min-width: 50vw;
}

.header {
  font-weight: 900;
  font-size: clamp(50px, 7vw, 2000px);
  color: rgb(0, 0, 0);
  align-self: center;
  justify-self: center;
  font-family: Momo trust display;
  z-index: 2;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 90vw;
  cursor: default;
  /* text-shadow: 0px 0px 10px rgb(15, 13, 82); */
}
.container {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  min-width: 50vw;
}
.container-survey {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}
.two-grid-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.photo {
  display: block;
  width: 75%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  /* transition: filter 1s linear; */
  border-radius: 50%;
  justify-self: center;
}

.d2 {
  color: rgb(0, 0, 0);
  display: block;

  z-index: 2;
  font-family: Stack Sans Text;
  font-weight: 500;
  font-size: larger;
  /* text-shadow: 0px 0px 10px rgb(15, 13, 82); */
}
/* h2 */
.h2-universal {
  font-family: Stack Sans Text, Arial;
  color: rgb(73, 73, 73);
  font-weight: 550;
  font-size: xx-large;
  margin: auto;
  margin-top: 20px;
  align-self: center;
  justify-self: center;
}
.h2-explanatory {
  font-family: Stack Sans Text, Arial;
  color: rgb(44, 44, 44);
  font-weight: 550;
  font-size: x-large;
  margin: auto;
  align-self: center;
  justify-self: center;
  text-align: center;
}
/* h2 */

/* h3 */
.h3-universal {
  font-family: Stack Sans Text, Arial;
  color: rgb(46, 46, 46);
  font-weight: 550;
  font-size: x-large;
  margin: auto;
  margin-top: 30px;
  align-self: center;
  justify-self: center;
  text-align: center;
}
/* h3 */
a {
  text-decoration: none;
}
.light-button-description {
  border: solid rgba(0, 91, 194, 0.493);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  max-width: 80vw;
  width: 50vw;

  height: fit-content;
  text-decoration: none;
}
.light-button-paragraph {
  font-family: Stack Sans Text, Arial;
  color: rgba(0, 90, 194, 0.801);
  font-weight: 550;
  font-size: x-large;
  margin: auto;
  align-self: baseline;
  justify-self: center;
  text-align: center;
  text-decoration: none !important;
}
.light-button-description:hover .light-button-paragraph {
  color: rgb(0, 196, 65);
}
.light-button-description:hover {
  border-color: rgb(0, 196, 65);
}
.new-content {
  position: absolute;
  background-color: #edfeff;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateY(-30px);
  font-family: Stack Sans Text, Arial;
  color: rgb(82, 163, 255);
  font-weight: 550;
  font-size: x-large;
  margin: auto;
  align-self: baseline;
  justify-self: baseline;
  text-align: center;
  text-decoration: none !important;
}
.all-surveys {
  font-family: Stack Sans Text, Arial;
  color: rgba(0, 87, 39, 0.801);
  border-radius: 10px;
  font-weight: 600;
  font-size: large;
  margin: auto;
  align-self: baseline;
  justify-self: baseline;
  width: 100%;
  left: 0;
  text-decoration: none !important;
}
.all-surveys:hover {
  opacity: 0.5;
}
.separator {
  height: 0px;
  width: auto;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgba(182, 182, 182, 0.705);
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.separator-surveys {
  height: 0px;
  width: auto;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgba(182, 182, 182, 0.705);
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
.regular-separator {
  height: 0px;
  width: 100%;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgba(182, 182, 182, 0.705);
  margin: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
}

.menu {
  display: none;
}

.main-text {
  font-family: Stack Sans Text, Arial;
  font-weight: 200;
  max-width: 600px;
  font-style: italic;
  font-size: clamp(1vw, 4vw, 6vw);
  color: rgba(0, 0, 0, 0.767);
}
.main-text::after {
  content: "|";
  color: rgba(0, 0, 0, 0.665);
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.model {
  width: 40vw;
  height: 30vw;
}

.italic-text-gray {
  font-family: Stack Sans Text, Arial;
  font-weight: 400;
  max-width: 600px;
  font-style: italic;
  font-size: clamp(1vw, 1vw, 4vw);
  color: rgb(158, 158, 158);
  align-self: center;
  justify-self: center;
}
.italic-text-black {
  font-family: Stack Sans Text, Arial;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  font-size: clamp(1vw, 1vw, 4vw);
  color: rgba(0, 0, 0, 0.781);
}
.footer-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: rgba(127, 255, 212, 0);
}

.footer {
  /* background: linear-gradient(90deg, rgb(27, 15, 90), rgb(17, 50, 128)); */
  height: 50px;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.bottom-name {
  font-family: Ubuntu Mono, Arial;
  color: rgb(75, 75, 75);
  font-size: larger;
  font-weight: 200;
  margin: auto;
}
.bottom-name-background {
  font-family: Ubuntu Mono, Arial;
  background-color: rgba(255, 255, 255, 0.566);
  border-radius: 20px;
  color: rgb(75, 75, 75);
  font-size: larger;
  font-weight: 200;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.regular-wrapper {
  display: flex;
  flex-direction: row;
}
.logo-icon {
  box-shadow: 1px, 1px, 1px, black;
}
.bottom-text {
  font-family: Ubuntu Mono, monospace;
  color: rgba(0, 0, 0, 0.412);
  font-size: 25px;
  font-weight: 600;
  align-self: center;
  margin-top: 5px;
  justify-self: baseline;
  cursor: default;
}
.separator-bottom {
  height: 0px;

  width: auto;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgba(182, 182, 182, 0.705);
}
.codswallop {
  display: none;
  height: auto;
  margin-top: auto;
}
@media (min-height: 840px) {
  .codswallop {
    display: block;
    height: calc(100dvh - 733px);
  }
}
.lorem-ipsum-generator-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.text-and-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.button-description {
  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 25px;
  min-width: 300px;
  margin-left: auto;
}
.button {
  background: linear-gradient(rgb(84, 133, 66), rgb(84, 133, 66));
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(38, 69, 50);
  box-shadow: 4px 4px 0 rgb(134, 129, 85);
  font-size: 30px;
  font-family: Ubuntu Mono, monospace;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-self: center;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
  margin-right: auto;
  text-decoration: none;
}
.pcb-text-lorem {
  font-size: 30px;
  font-family: Ubuntu Mono, monospace;
  color: white;
  transition: text-shadow 0.25s ease-in-out;
  width: max-content;
  text-decoration: none;
}
.button-size-png {
  width: 50px;
  height: auto;
  margin-left: 10px;
}
.button-size-pressed-png {
  width: 50px;
  height: auto;
  margin-left: 10px;
  opacity: 0;
}
.button:hover .pcb-text-lorem {
  text-shadow: 0px 0px 40px rgb(255, 215, 85);
}
.button:active .button-size-pressed-png {
  opacity: 1;
}
.button:active .button-size-png {
  opacity: 0;
}
.button-wrapper {
  width: auto;
  height: auto;
  display: grid;
}
.button-wrapper img {
  grid-area: 1 / 1;
}
.button:hover {
  background: linear-gradient(rgb(62, 99, 48), rgb(63, 99, 49));
}
.lorem-ipsum-paragraph {
  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.781);
  max-width: 1000px;
  width: 70dvw;
  margin-right: auto;
  margin-left: auto;
  /* text-align: justify; */
}
@media (max-width: 1170px) {
  .text-and-button {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .button {
    margin-left: 0;
  }
}
.second-header {
  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.819);
  font-size: 40px;
  font-weight: 500;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.note::after {
  content: "|";
  color: rgba(0, 0, 0, 0.665);
  display: inline-block;
  margin-left: 0px;
  animation: blink 1s step-start infinite;
}
.block-photo1 {
  opacity: 1;
}
.img1-check {
  display: none;
}
.img1-check:checked + .wrapper-img label .block-photo1 {
  opacity: 0;
}

.block-photo1 {
  display: block;
  max-width: 50%;
  height: auto;
  border-style: solid;
  border-color: rgba(101, 101, 101, 0.294);
  border-radius: 20px;
  border-width: 5px;
  z-index: 2;
}
.wrapper-img {
  display: inline-grid;
}
.img1-label {
  z-index: 2;
}
.img1-label,
.under-text {
  grid-area: 1 / 1;
}
.under-text {
  width: 50%;
  height: 100%;
  border-style: solid;
  border-color: rgba(101, 101, 101, 0.294);
  border-radius: 20px;
  border-width: 5px;
  z-index: 0;
  font-family: Ubuntu Mono, monospace;
  font-weight: 400;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.428);
  display: flex;
  justify-content: center;
  align-items: center;
}
.note {
  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.483);
}
.note-non-editable {
  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400 !important;
  color: rgba(0, 0, 0, 0.72);
}
.regular-header {
  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.831);
}
.omezovac {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fotogalerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  gap: 10px;
  margin-bottom: 10px;
  max-height: min-content;
}

.fotogalerie img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; obrázek se ořízne rovnoměrně */
  display: block;
  border-radius: 10px;
  aspect-ratio: 4 / 3;
}
@media (max-width: 768px) {
  .italic-text-gray {
    margin-top: 70px;
    margin-bottom: 0;
  }
  .update-logs {
    display: none;
  }
  .light-button-description {
    width: auto;
  }
  .pixel-info2 {
    position: absolute; /* drží se na okraji okna */
    top: 50%; /* přibližně uprostřed výšky */
    right: 10px; /* nalepený na pravý okraj */
    transform: rotate(90deg) translateY(-50%);
    transform-origin: right top; /* bod otáčení */

    font-family: Stack Sans Text, Roboto, Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.404);
    font-size: medium;
  }
  .fotogalerie {
    display: flex; /* místo gridu použijeme flexbox */
    overflow-x: auto; /* horizontální posuv */
    gap: 10px;
    scroll-snap-type: x mandatory; /* volitelné: "zacvakávání" obrázků */
    -webkit-overflow-scrolling: touch; /* plynulé scrollování na iOS */
  }

  .fotogalerie img {
    flex: 0 0 auto; /* obrázky se nebudou zmenšovat */
    width: 80%; /* každý obrázek zabere většinu šířky */
    scroll-snap-align: center; /* volitelné: zarovnání při posuvu */
  }
  .drop-zone {
    /* odstraníme pevný aspect-ratio, aby se přizpůsobilo obsahu */
    height: auto;
    width: calc(80% - 20px);
    /* vzhled */
    background: linear-gradient(
      45deg,
      rgba(184, 184, 184, 0.327),
      rgba(184, 224, 255, 0.327)
    );
    border: 3px dashed #999;
    border-radius: 8px;

    /* zarovnání obsahu */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.47);
    cursor: pointer;

    /* aby se choval jako obrázek ve scroll galerii */
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  /* pokud je drop-zone uvnitř fotogalerie */
  .fotogalerie .drop-zone {
    /* width: 80%; stejné jako obrázky ve fotogalerii */
    max-width: 100%;
    border-radius: 10px; /* sjednocení vzhledu s obrázky */
    aspect-ratio: 4 / 3;
  }
  .drop-zone img {
    height: 100%;
    width: 100%;
    /* height: auto; */
    display: block;
    object-fit: contain; /* nebo úplně vynechat */
    aspect-ratio: auto; /* zruší pevný poměr */
  }
}
.unnecessary-image {
  width: auto;
  height: auto;
  background: linear-gradient(
    45deg,
    rgba(184, 184, 184, 0.327),
    rgba(184, 224, 255, 0.327)
  );
  border: 3px solid rgba(0, 0, 0, 0.157);
  border-radius: 10px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.371);

  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-zone {
  aspect-ratio: 4 / 3;
  max-width: 100%;

  max-height: 100%;
  object-fit: cover;
  /* height: auto; */
  background: linear-gradient(
    45deg,
    rgba(184, 184, 184, 0.327),
    rgba(184, 224, 255, 0.327)
  );
  border: 3px dashed #999;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.47);
  cursor: pointer;
}
.drop-zone.dragover {
  border-color: green;
  background: #f0fff0;
}
.drop-zone img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}
input[type="file"] {
  display: none; /* schová input */
}
/* body {
  font-family: system-ui, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: #f6f8fa;
} */

.wrap {
  width: 80%;
  max-width: 700px;
}

.surface {
  border: 1px solid #d0d7de;
  border-radius: 8px;
  height: 100px;
  touch-action: none;
  cursor: crosshair;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    rgba(184, 184, 184, 0.327),
    rgba(184, 224, 255, 0.327)
  );
  border: 3px solid #999;
  border-radius: 8px;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.hint {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.406);
  pointer-events: none;
}

.controls {
  margin-top: 12px;
  text-align: right;
}

button {
  border: 1px solid #d0d7de;
  background: #fff;
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 520px) {
  .surface {
    height: 340px;
  }
}
.pixel-info {
  font-family: Stack Sans Text, Roboto, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.404);
  font-size: medium;
  margin-left: auto;
}
.pixel-info2 {
  font-family: Stack Sans Text, Roboto, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.404);
  font-size: medium;
  margin-left: auto;
  position: absolute;
  right: 20px;
}
.pixel-info3 {
  font-family: Stack Sans Text, Roboto, Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.404);
  font-size: medium;
  margin-left: auto;
  position: absolute;
  right: 20px;
}
.link {
  color: rgb(0, 161, 72);
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.link:hover {
  color: rgb(0, 110, 50);
}
.page-info {
  justify-content: end;
  align-items: end;
}

model-viewer::part(default-progress-bar) {
  display: none; /* schová defaultní progress bar */
}

.loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}

.pcb-loader {
  width: 60px;
  height: 60px;
  border: 6px solid #1b5e1faa; /* tmavě zelený okraj */
  border-top: 6px solid #4caf4fba; /* světlejší zelená část */
  border-radius: 50%;
  animation: spin 1s linear infinite;

  background-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.update-logs {
  font-family: Stack Sans Text, Arial, Helvetica, sans-serif;
  color: rgb(0, 56, 0);
  font-size: medium;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(0, 56, 0);
}
.update-logs:hover {
  opacity: 0.5;
}
